
<h1>Welcome to <%= @crm_app_name %></h1>

<nav>
  <ul>Main Menu</ul>
  <ul> 
    <li><a href="/contacts">View all contacts</a></li>
    <li><a href="/contacts/new">Add a contact</a></li>
    <li><a href="/contacts/new">Edit contact</a></li>
    <li><a href="/contacts/new">Delete contact</a></li>
    <li><a href="/contacts/new">Browse contact</a></li>
  </ul>
  </nav>